{{ partial "header.html" . }} {{ if .Params.listing }} {{ range .Site.Taxonomies.groups.nowosc.Pages }}
<div class="container">
    <article class="post">
        <h3><a href='{{ .Permalink }}'>{{ .Title }}</a> </h3>
        <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        {{ .Summary }}
        <a href='{{ .Permalink }}'>
            <br><b>read more →</b>
        </a>
    </article>
</div>
{{ end }} {{ else }}
<div class="container">{{ .Content }} </div>
{{ end }} {{ partial "footer.html" . }}
